.cipher-form {
  max-width: 600px;
  margin: 0 auto;
}

.button-group {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: center;
}

.two-column-group {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: stretch;
}

.width-hundred-percent {
  width: 100%;
}
